@page
@{
    ViewData["Title"] = "Profilis";
}

<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="utf-8" />
    <title>Prisijungimų Istorija</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>Prisijungimų Istorija</h1>
    <table>
        <tr><th>Prisijungimo data</th><th>Prisijungimas sėkmingas</th></tr>
        <tr><td>2024-11-09</td><td>Taip</td></tr>
        <tr><td>2024-11-10</td><td>Ne</td></tr>
    </table>
    <!-- <button onclick="window.location.href='/Profile'">Atgal į Profilį</button> -->
</body>
</html>
