@page
@model RazorPages.Pages.MessageArchiveModel
@{
    ViewData["Title"] = "Archyvuoti Žinutės";
}
<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="utf-8" />
    <title>Archyvuoti Žinutės</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>Archyvuoti Žinutės</h1>
    <form method="post">
        <table class="message-table">
            <thead>
                <tr>
                    <th>Pasirinkti</th>
                    <th>Siuntėjas</th>
                    <th>Žinutės Pavadinimas</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var message in Model.Zinutes)
                {
                    <tr style="@(message.archyvuota ? "background-color: #f2f2f2; text-decoration: line-through; color: #aaa;" : "")">
                        <td>
                            @if (!message.archyvuota)
                            {
                                <input type="checkbox" name="messageIds" value="@message.zinutes_id" />
                            }
                            else
                            {
                                <input type="checkbox" disabled />
                            }
                        </td>
                        <td>@Model.GetSenderFullName(message.fk_naudotojo_siuntejo_id)</td>
                        <td>@message.pavadinimas</td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="submit">Archyvuoti Pasirinktas Žinutes</button>
    </form>
</body>
</html>
